<!DOCTYPE html>
<html>
  <head>
   <%include templates/head.ejs%>
  </head>
  <body>
  	<div class="container">
  		<%include adminpage/header.ejs%>
   		The list of stream should be here
  	</div>
  </body>
  <%include templates/javascript.ejs%>
</html>
