<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
   <% include templates/head.ejs%>
  </head>
  <body>
  	<div class="container">
  		<%include adminpage/header.ejs%>
   		<%include contents/listChannel.ejs%>
  	</div>
  </body>
  <% include templates/javascript.ejs%>
</html>