<!DOCTYPE html>
<html>
  <head>
   <%include templates/head.ejs%>
  </head>
  <body>
  	<div class="container">
  		<%include contents/header.ejs%>
   		<p>Welcome to <%= title %></p>
  	</div>
  </body>
  <%include templates/javascript.ejs%>
</html>
