doctype html
html(ng-app="radioApp")
  head
    title(ng-bind-template="Radio Online| Search {{query}}| Order by: {{orderProp}}")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/amaran.min.css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.js')
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-resource.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-animate.js")
    script(src="/javascripts/jquery.amaran.min.js")
    script(type="text/javascript", src="/javascripts/app.js")
    script(type="text/javascript", src="/javascripts/controller.js")
    script(type="text/javascript", src="/javascripts/filter.js")
    script(type="text/javascript", src="/javascripts/service.js")
  body(ng-controller="ListRadioCtrl")
    nav(class="navbar navbar-default navbar-fixed-top",role="navigation")
        div(class="container-fluid")
            div(class="navbar-header")
                button(type="button", class="navbar-toggle collapsed",data-toggle="collapse" data-target="#collapseMenu")
                    span(class="sr-only") Toggle navigation
                    span(class="icon-bar")
                    span(class="icon-bar") 
                    span(class="icon-bar")
                audio(class="audioplayer",controls,autoplay,hidden,id="radioPlayer")
                    source(ng-repeat="u in currentChannel.urls",ng-src="{{trustSrc(u)}}")
                div(ng-if="isPlay!=true")
                    i(class="fa fa-play-circle-o fa-2x navbar-brand",ng-click="btnPlayClick()")
                div(ng-if="isPlay==true")
                    i(class="fa fa-pause fa-2x navbar-brand",ng-click="btnPlayClick()")
                small(id="radioName")  {{currentChannel.name}}
            div(class="collapse navbar-collapse",id="collapseMenu")
                form(class="navbar-form navbar-right",role="search")
                    div(class="form-group")
                        input(type="text",class="form-control",placeholder="Enter to search",ng-model="query")
                    a(href="#/add",role="button",class="btn btn-default")
                        i(class="fa fa-plus")  Add new
    div(class="container",id="wrapper")
        div(ng-view)
    footer(class="footer")
        div(class="container")
            p
                | Contact me 
                a(href="mailto:konal89@gmail.com") konal89@gmail.com

