<!-- CURRENT CHANNEL -->
        <div class="media" id="currentChannel">
          <div class=" pull-left">
            <img class="media-object" src="images/piano.png" alt="Current Channel Logo" id="currentLogo" style="padding:10px;">
            <div id="radioName">Media heading</div>  
          </div>
          <div class="media-body hidden-xs">
            <h4 class="media-heading">Information</h4>  
            <span id="rs-description" >In spite of its cringeworthy name, this station is actually rather a classy operation, which provides an online outlet for the works of over two hundred talented but unsigned solo piano composers. The music tends towards meditative, classical-style compositions (think Ludovico Einaudi and George Winston in terms of tone), and makes for a gentle alternative to Classic FM.</span> 
          </div>
        </div>