body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.thumbnail>img{
	width: 120px;
}

.small-logo{
	height: 20px;
}

#wrapper{
	padding-top: 20px;
}