extends layout

block body
  div(ng-controller="AppCtrl")
    h2 Hello Test Angular: {{24 +42}}
    ul.menu
      li
        a(href='') Add new post
      li
        a(href='view2') view2

    div(ng-view)

    div
      | Angular seed app: v
      span (app-version)

  script(src='/javascripts/lib/angular/angular.js')
  script(src='/javascripts/app.js')
  script(src='/javascripts/services.js')
  script(src='/javascripts/controllers.js')
  script(src='/javascripts/filters.js')
  script(src='/javascripts/directives.js')
