doctype html
html(ng-app="myApp")
head
meta(charset='utf8')
title Angular Express Seed App
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
script(src='/javascripts/app.js')
script(src='/javascripts/services.js')
script(src='/javascripts/controllers.js')
script(src='/javascripts/filters.js')
script(src='/javascripts/directives.js')
body
block body