div(class="modal fade",id="addNewModal",tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(type="button",class="close",data-dismiss="modal")
					span(aria-hidden="true")&times;
					span(class="sr-only") Close
				h4(class="modal-title",id="myModalLabel") Add new radio stream
			div(class="modal-body")
				span This is the content for new radio stream