form(role="form")
	div(class="form-group")
		input(type="text",class="form-control",placeholder="Radio stream name",ng-model="form.rsName")
	div(class="form-group")
		input(type="text",class="form-control",placeholder="tags",ng-model="form.rsTags")
	div(class="form-group")
		textarea(ng-model="form.urls",class="form-control")
	div(class="form-group")
		button(class="btn btn-info",ng-click="updateSubmit()") Update
		button(class="btn btn-default",ng-click="updateSubmit()") Cancel