div(class="container-fluid")
    div(class="row")
        div(class="col-sm-6 col-md-4",ng-repeat='radio in radios|filter:query|orderBy:orderProp')
            div(class="thumbnail",id="{{radio._id}}")
                div(class="media")
                    div(class="pull-left")
                        img(ng-src="{{radio.logo}}", alt="Radio logo",class="radioLogo")
                    div(class="media-body")
                        strong {{radio.name}}
                        div
                            |Tags:
                            span(ng-repeat="tag in radio.tags")
                                a(href="/tags/{{tag}}") {{tag}}
                                |,
                        div(ng-if="isAdmin==true")
                            div
                                |Streams:
                                ul(class="streams")
                                    li(ng-repeat="u in radio.urls")
                                        span {{u}}
                        //- div
                        //-     span Star:{{radio.comments.star.length}} 
                        //-     span Listent:{{radio.comments.listent}}
                        div
                            button(role="button",class="btn btn-success",ng-click="btnPlay(radio)") Play
                            span(ng-if="isAdmin==true")
                                a(role="button",class="btn btn-warning",href="#/admin/edit/{{radio._id}}") Edit
                                a(role="button",class="btn btn-danger",href="#/admin/delete/{{radio._id}}") Delete