div(class="container-fluid",ng-controller="RadioListCtrl")
        div(class="row")
            div(class="col-sm-6 col-md-4",ng-repeat='radio in radios|filter:query|orderBy:orderProp')
                div(class="thumbnail")
                    img(ng-src="{{radio.logo}}", alt="Radio logo")
                    div(class="caption")
                        h3 {{radio.name}}
                        div
                            |Tags:
                            span(ng-repeat="tag in radio.tags")
                                a(href="/tags/{{tag}}") {{tag}}
                                |,
                        div
                            |Streams:
                            ul(class="streams")
                                li(ng-repeat="u in radio.urls")
                                    span {{u}}
                        div
                            span(class="pull-left")
                                |Star:{{radio.comments.star.length}}
                            span(class="pull-right")
                                |Listent:{{radio.comments.listent}}
                        div
                            button(type="button",class="btn btn-primary btn-block") Play