<!DOCTYPE html>
<html>
<head>
	<% include partials/head.ejs %>
</head>
<body class="<%= classname %>">
	<% include partials/header.ejs %>
	<div class="container">
		<h1>Welcome to <%= title %></h1>
	</div>
	<% include partials/footer.ejs %>
	<% include partials/jsscript.ejs %>
</body>
</html>
