<footer id='the_footer'>
<div id='social_network'>
Contact - <a href="mailto:luongnv89@gmail.com"><img src="/images/email.png" class='link_icon float-shadow'></a>
<a href="http://fr.linkedin.com/in/luongnv"><img src="/images/linkedin.png" class='link_icon float-shadow'></a>
<a href="https://twitter.com/luongnv89"><img src="/images/twitter.png" class='link_icon float-shadow'></a>
</div>
</footer>