<!DOCTYPE>
<html lang="en">
<head>
  <%include partials/templates/head.ejs%>
  <%include partials/bookspage/style.ejs%>
</head>
<body>
  <div id='big_wrapper'> <!-- big-wrapper -->
    <!-- Header -->
    <%include partials/bookspage/header.ejs%>
    
    <!-- Main content -->
    <%include partials/bookspage/listbooks.ejs%>

    <!--footer -->
    <%include partials/templates/footer.ejs%>

  </div> <!-- big-wrapper -->

  <!-- Script -->
  <%include partials/templates/scriptDefault.ejs%>
  <%include partials/bookspage/script.ejs%>

</body>
</html>
